<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab-Ajax</title>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>
    <!-- <form action="/query"> -->
    <label for="recherche">Entrez votre keyword : </label>
    <input type="text" name="q" id="recherche">
    <br>
    <button onclick="rechercherAvecXHR()"> Soumettre </button>
    <div id="table">

    </div>
</body>
</html>